In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [2]:
tf.__version__

'2.0.0'

In [3]:
TRAIN_DATA_URL="https://storage.googleapis.com/tf-datasets/titanic/train.csv"
TEST_DATA_URL="https://storage.googleapis.com/tf-datasets/titanic/eval.csv"

train_file_path = tf.keras.utils.get_file("train.csv", TRAIN_DATA_URL)
test_file_path = tf.keras.utils.get_file("eval.csv", TEST_DATA_URL)

Downloading data from https://storage.googleapis.com/tf-datasets/titanic/train.csv
32768/30874 [===============================] - 0s 8us/step
Downloading data from https://storage.googleapis.com/tf-datasets/titanic/eval.csv
16384/13049 [=====================================] - 0s 2us/step

In [5]:
train_file_path, test_file_path

('C:\\Users\\rohit\\.keras\\datasets\\train.csv',
 'C:\\Users\\rohit\\.keras\\datasets\\eval.csv')

You can load this using pandas, and pass the NumPy arrays to TensorFlow. If you need to scale up to a large set of files, or need a loader that integrates with TensorFlow and tf.data then use the tf.data.experimental.make_csv_dataset function:

In [6]:
# define the label column
LABEL_COLUMN = 'survived'

In [26]:
def get_dataset(file_path, **kwargs):
    '''this will get the csv from the filepath and creates the dataset'''
    dataset = tf.data.experimental.make_csv_dataset(file_path, batch_size=5, label_name=LABEL_COLUMN, na_value='?', 
                                                   num_epochs=1, ignore_errors=True, **kwargs)
    return dataset

In [27]:
raw_train_data = get_dataset(train_file_path)

In [29]:
raw_test_data = get_dataset(test_file_path)

Each item in the dataset is a batch, represented as a tuple of (many examples, many labels). The data from the examples is organized in column-based tensors (rather than row-based tensors), each with as many elements as the batch size (5 in this case).

In [30]:
def show_batch(dataset):
    for batch, label in dataset.take(1):
        for key, value in batch.items():
            print(f"{key}:{value.numpy()}")
#         print(label)

In [31]:
show_batch(raw_train_data)

sex:[b'male' b'male' b'male' b'male' b'male']
age:[28. 25. 28. 26. 23.]
n_siblings_spouses:[0 0 0 2 0]
parch:[0 0 0 0 0]
fare:[ 7.8542  7.7417  0.      8.6625 10.5   ]
class:[b'Third' b'Third' b'Second' b'Third' b'Second']
deck:[b'unknown' b'unknown' b'unknown' b'unknown' b'unknown']
embark_town:[b'Southampton' b'Queenstown' b'Southampton' b'Southampton' b'Southampton']
alone:[b'y' b'y' b'y' b'n' b'y']

As you can see, the columns in the CSV are named. The dataset constructor will pick these names up automatically. If the file you are working with does not contain the column names in the first line, pass them in a list of strings to the column_names argument in the make_csv_dataset function.

In [32]:
CSV_COLUMNS = ['survived', 'sex', 'age', 'n_siblings_spouses', 'parch', 'fare', 'class', 'deck', 'embark_town', 'alone']

temp_dataset = get_dataset(train_file_path, column_names=CSV_COLUMNS)

show_batch(temp_dataset)

sex:[b'male' b'male' b'female' b'female' b'male']
age:[ 1. 28. 35. 28. 22.]
n_siblings_spouses:[1 0 1 1 0]
parch:[2 0 1 0 0]
fare:[20.575 52.    20.25  24.     7.125]
class:[b'Third' b'First' b'Third' b'Second' b'Third']
deck:[b'unknown' b'A' b'unknown' b'unknown' b'unknown']
embark_town:[b'Southampton' b'Southampton' b'Southampton' b'Cherbourg' b'Southampton']
alone:[b'n' b'y' b'n' b'n' b'y']

This example is going to use all the available columns. If you need to omit some columns from the dataset, create a list of just the columns you plan to use, and pass it into the (optional) select_columns argument of the constructor.

In [33]:
SELECT_COLUMNS = ['survived', 'age', 'n_siblings_spouses', 'class', 'deck', 'alone']

temp_dataset = get_dataset(train_file_path, select_columns=SELECT_COLUMNS)

show_batch(temp_dataset)

age:[45. 28. 15.  4. 28.]
n_siblings_spouses:[0 0 1 4 0]
class:[b'First' b'Third' b'Third' b'Third' b'Third']
deck:[b'unknown' b'F' b'unknown' b'unknown' b'unknown']
alone:[b'y' b'y' b'n' b'n' b'y']

data

In [34]:
SELECT_COLUMNS = ['survived', 'age', 'n_siblings_spouses', 'parch', 'fare']
DEFAULTS = [0, 0.0, 0.0, 0.0, 0.0]
temp_dataset = get_dataset(train_file_path, 
                           select_columns=SELECT_COLUMNS,
                           column_defaults = DEFAULTS)

show_batch(temp_dataset)

age:[57.  4. 35. 21. 28.]
n_siblings_spouses:[0. 1. 0. 0. 0.]
parch:[0. 1. 0. 1. 0.]
fare:[10.5    23.      8.05   77.2875  8.05  ]

In [35]:
example_batch, labels_batch = next(iter(temp_dataset))

In [36]:
example_batch

OrderedDict([('age',
              <tf.Tensor: id=723, shape=(5,), dtype=float32, numpy=array([28., 21., 37., 30., 28.], dtype=float32)>),
             ('n_siblings_spouses',
              <tf.Tensor: id=725, shape=(5,), dtype=float32, numpy=array([0., 2., 0., 0., 1.], dtype=float32)>),
             ('parch',
              <tf.Tensor: id=726, shape=(5,), dtype=float32, numpy=array([0., 2., 0., 0., 0.], dtype=float32)>),
             ('fare',
              <tf.Tensor: id=724, shape=(5,), dtype=float32, numpy=array([  7.8958, 262.375 ,   9.5875,  31.    ,  15.5   ], dtype=float32)>)])

In [37]:
labels_batch

In [38]:
def pack(features, labels):
    return tf.stack(list(features.values()), axis=-1), labels

In [39]:
packed_dataset = temp_dataset.map(pack)

In [40]:
for features, labels in packed_dataset.take(1):
    print(features.numpy())
    print()
    print(labels.numpy())

[[24.      0.      0.     13.    ]
 [48.      1.      0.     39.6   ]
 [22.      0.      0.      7.7958]
 [16.      0.      0.      9.2167]
 [60.      0.      0.     26.55  ]]

[0 1 0 0 0]

more general preprocessor that selects a list of numeric features and packs them into a single column:

In [41]:
class PackNumericFeatures():
    def __init__(self, names):
        self.names = names
        
    def __call__(self, features, labels):
        numeric_features = [features.pop(name) for name in self.names]
        numeric_features = [tf.cast(feat, tf.float32) for feat in numeric_features]
        numeric_features = tf.stack(numeric_features, axis=-1)
        features['numeric'] = numeric_features
        return features, labels

In [42]:
NUMERIC_FEATURES = ['age','n_siblings_spouses','parch', 'fare']

packed_train_data = raw_train_data.map(
    PackNumericFeatures(NUMERIC_FEATURES))

packed_test_data = raw_test_data.map(
    PackNumericFeatures(NUMERIC_FEATURES))

In [44]:
show_batch(packed_train_data)

sex:[b'female' b'male' b'male' b'male' b'male']
class:[b'Second' b'First' b'Third' b'Third' b'First']
deck:[b'unknown' b'B' b'E' b'unknown' b'E']
embark_town:[b'Southampton' b'Cherbourg' b'Southampton' b'Southampton' b'Southampton']
alone:[b'n' b'y' b'y' b'n' b'n']
numeric:[[ 4.      1.      1.     23.    ]
 [24.      0.      0.     79.2   ]
 [32.      0.      0.      8.05  ]
 [28.      3.      1.     25.4667]
 [27.      1.      0.     53.1   ]]

In [45]:
example_batch, labels_batch = next(iter(packed_train_data))

Data Normalization

In [47]:
import pandas as pd
desc = pd.read_csv(train_file_path)[NUMERIC_FEATURES].describe()

In [48]:
desc

              age  n_siblings_spouses       parch        fare
count  627.000000          627.000000  627.000000  627.000000
mean    29.631308            0.545455    0.379585   34.385399
std     12.511818            1.151090    0.792999   54.597730
min      0.750000            0.000000    0.000000    0.000000
25%     23.000000            0.000000    0.000000    7.895800
50%     28.000000            0.000000    0.000000   15.045800
75%     35.000000            1.000000    0.000000   31.387500
max     80.000000            8.000000    5.000000  512.329200

In [49]:
MEAN = np.array(desc.T['mean'])
STD = np.array(desc.T['std'])