In [1]:
sc

In [2]:
from pyspark.sql.types import Row
from datetime import datetime

Using Row, we can define RDD's and use them to create Dataframes

In [3]:
complex_data = sc.parallelize([Row(col_float = 1.44, col_integer=10, col_string="Hello")])

In [4]:
complex_data_df = complex_data.toDF()

In [6]:
complex_data_df.show()

+---------+-----------+----------+
|col_float|col_integer|col_string|
+---------+-----------+----------+
|     1.44|         10|     Hello|
+---------+-----------+----------+

In [7]:
complex_data2 = sc.parallelize([
    Row(
    col_list = [1,2,3,4],
    col_dict = {"k1":10},
    col_row = Row(a=10, b=20, c=30),
    col_date = datetime(2020, 4, 22, 17, 2, 2)),
    Row(
    col_list = [1,2,3,4],
    col_dict = {"k1":10},
    col_row = Row(a=10, b=20, c=30),
    col_date = datetime(2020, 4, 22, 17, 2, 2)),
    Row(
    col_list = [1,2,3,4],
    col_dict = {"k1":10},
    col_row = Row(a=10, b=20, c=30),
    col_date = datetime(2020, 4, 22, 17, 2, 2))
])

In [8]:
complex_data2_df = complex_data2.toDF()

In [10]:
complex_data2_df.show()

+-------------------+----------+------------+------------+
|           col_date|  col_dict|    col_list|     col_row|
+-------------------+----------+------------+------------+
|2020-04-22 17:02:02|[k1 -> 10]|[1, 2, 3, 4]|[10, 20, 30]|
|2020-04-22 17:02:02|[k1 -> 10]|[1, 2, 3, 4]|[10, 20, 30]|
|2020-04-22 17:02:02|[k1 -> 10]|[1, 2, 3, 4]|[10, 20, 30]|
+-------------------+----------+------------+------------+

Let's create a SQLContext object and use it

In [11]:
sqlcontext= SQLContext(sc)

In [12]:
sqlcontext

In [13]:
df = sqlcontext.range(5)

In [14]:
df.show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
+---+

In [15]:
data = [("Alice", 50), ("Bob", 60), ("Charlie", 100)]

In [16]:
df2 = sqlcontext.createDataFrame(data)

In [17]:
df2.show()

+-------+---+
|     _1| _2|
+-------+---+
|  Alice| 50|
|    Bob| 60|
|Charlie|100|
+-------+---+

In [18]:
df_names = sqlcontext.createDataFrame(data, ["Name", "Marks"])

In [20]:
df_names.show()

+-------+-----+
|   Name|Marks|
+-------+-----+
|  Alice|   50|
|    Bob|   60|
|Charlie|  100|
+-------+-----+

In [21]:
dr = sc.parallelize([Row(1, "Alice", 200),
                    Row(2, "Bob", 300),
                     Row(3, "Charlie", 400)])

In [22]:
col_names = Row('id', 'name', 'score')

In [23]:
students = dr.map(lambda r: col_names(*r))

In [26]:
students.collect()

[Row(id=1, name='Alice', score=200),
 Row(id=2, name='Bob', score=300),
 Row(id=3, name='Charlie', score=400)]

In [27]:
students_df = sqlcontext.createDataFrame(students)

In [28]:
students_df.collect()

[Row(id=1, name='Alice', score=200),
 Row(id=2, name='Bob', score=300),
 Row(id=3, name='Charlie', score=400)]

In [29]:
students_df.show()

+---+-------+-----+
| id|   name|score|
+---+-------+-----+
|  1|  Alice|  200|
|  2|    Bob|  300|
|  3|Charlie|  400|
+---+-------+-----+

In [30]:
complex_data3 = [
    (1.0, 10, "Alice", True, [1,2,3], {"k1":0}, Row(a=1, b=2, c=3), datetime(2020, 4, 22, 18, 6, 6)),
    (1.0, 10, "Bob", True, [1,2,3], {"k1":0, "k1":1}, Row(a=1, b=2, c=3), datetime(2020, 4, 22, 18, 6, 7)),
    (1.0, 10, "Charlie", True, [1,2,3, 4], {"k1":0, "k1":1, "k2":2}, Row(a=1, b=2, c=3), datetime(2020, 4, 22, 18, 6, 8)),
    (1.0, 10, "Don", False, [1,2,3], {"k1":0, "k1":1, "k2":2}, Row(a=1, b=2, c=3), datetime(2020, 4, 22, 18, 6, 9)),
    (1.0, 10, "Ex", True, [1,2,3, 4, 5, 6], {"k1":0, "k1":1, "k2":2, "k3":3}, Row(a=1, b=2, c=3), datetime(2020, 4, 22, 18, 6, 10)),
    
]

In [33]:
type(complex_data3)

list

Using sql context, you don't have to convert into RDD and then convert into dataframes, rather the list(defined above) can be used to create dataframe

In [31]:
cm_df = sqlcontext.createDataFrame(complex_data3)

In [32]:
cm_df.show()

+---+---+-------+-----+------------------+--------------------+---------+-------------------+
| _1| _2|     _3|   _4|                _5|                  _6|       _7|                 _8|
+---+---+-------+-----+------------------+--------------------+---------+-------------------+
|1.0| 10|  Alice| true|         [1, 2, 3]|           [k1 -> 0]|[1, 2, 3]|2020-04-22 18:06:06|
|1.0| 10|    Bob| true|         [1, 2, 3]|           [k1 -> 1]|[1, 2, 3]|2020-04-22 18:06:07|
|1.0| 10|Charlie| true|      [1, 2, 3, 4]|  [k1 -> 1, k2 -> 2]|[1, 2, 3]|2020-04-22 18:06:08|
|1.0| 10|    Don|false|         [1, 2, 3]|  [k1 -> 1, k2 -> 2]|[1, 2, 3]|2020-04-22 18:06:09|
|1.0| 10|     Ex| true|[1, 2, 3, 4, 5, 6]|[k3 -> 3, k1 -> 1...|[1, 2, 3]|2020-04-22 18:06:10|
+---+---+-------+-----+------------------+--------------------+---------+-------------------+

By default the list of items are converted to Row objects.

In [34]:
ll= sc.parallelize([[1, 2, 3],[4, 5, 6]])

In [35]:
ll.collect()

[[1, 2, 3], [4, 5, 6]]

In [37]:
dfll = ll.toDF()

In [38]:
dfll.collect()

[Row(_1=1, _2=2, _3=3), Row(_1=4, _2=5, _3=6)]

In [40]:
dfll.show()

+---+---+---+
| _1| _2| _3|
+---+---+---+
|  1|  2|  3|
|  4|  5|  6|
+---+---+---+

In [41]:
complex_data_df_names = sqlcontext.createDataFrame(complex_data3, ['col_float', 'col_int', 'col_str', 'col_bool', 'col_list', 'col_dict', 'col_row', 'col_date'])

In [42]:
complex_data_df_names.show()

+---------+-------+-------+--------+------------------+--------------------+---------+-------------------+
|col_float|col_int|col_str|col_bool|          col_list|            col_dict|  col_row|           col_date|
+---------+-------+-------+--------+------------------+--------------------+---------+-------------------+
|      1.0|     10|  Alice|    true|         [1, 2, 3]|           [k1 -> 0]|[1, 2, 3]|2020-04-22 18:06:06|
|      1.0|     10|    Bob|    true|         [1, 2, 3]|           [k1 -> 1]|[1, 2, 3]|2020-04-22 18:06:07|
|      1.0|     10|Charlie|    true|      [1, 2, 3, 4]|  [k1 -> 1, k2 -> 2]|[1, 2, 3]|2020-04-22 18:06:08|
|      1.0|     10|    Don|   false|         [1, 2, 3]|  [k1 -> 1, k2 -> 2]|[1, 2, 3]|2020-04-22 18:06:09|
|      1.0|     10|     Ex|    true|[1, 2, 3, 4, 5, 6]|[k3 -> 3, k1 -> 1...|[1, 2, 3]|2020-04-22 18:06:10|
+---------+-------+-------+--------+------------------+--------------------+---------+-------------------+

In [43]:
# Let's do it another way:

data = sc.parallelize([Row(1, "Alice", 500),
                     Row(2, "Bob", 600),
                     Row(3, "Charlie", 700)])

In [44]:
data_df = data.toDF()

In [45]:
data_df.show()

+---+-------+---+
| _1|     _2| _3|
+---+-------+---+
|  1|  Alice|500|
|  2|    Bob|600|
|  3|Charlie|700|
+---+-------+---+

#### Experiment with complex df

In [46]:
complex_data_df_names.first()

Row(col_float=1.0, col_int=10, col_str='Alice', col_bool=True, col_list=[1, 2, 3], col_dict={'k1': 0}, col_row=Row(a=1, b=2, c=3), col_date=datetime.datetime(2020, 4, 22, 18, 6, 6))

In [47]:
complex_data_df_names.take(2)

[Row(col_float=1.0, col_int=10, col_str='Alice', col_bool=True, col_list=[1, 2, 3], col_dict={'k1': 0}, col_row=Row(a=1, b=2, c=3), col_date=datetime.datetime(2020, 4, 22, 18, 6, 6)),
 Row(col_float=1.0, col_int=10, col_str='Bob', col_bool=True, col_list=[1, 2, 3], col_dict={'k1': 1}, col_row=Row(a=1, b=2, c=3), col_date=datetime.datetime(2020, 4, 22, 18, 6, 7))]

In [48]:
cell_string = complex_data_df_names.collect()[0][2]

In [49]:
cell_string

'Alice'

In [50]:
cell_list = complex_data_df_names.collect()[0][4]

In [53]:
cell_list.append(100)
cell_list

[1, 2, 3, 100, 100]

In [54]:
complex_data_df_names.show()

+---------+-------+-------+--------+------------------+--------------------+---------+-------------------+
|col_float|col_int|col_str|col_bool|          col_list|            col_dict|  col_row|           col_date|
+---------+-------+-------+--------+------------------+--------------------+---------+-------------------+
|      1.0|     10|  Alice|    true|         [1, 2, 3]|           [k1 -> 0]|[1, 2, 3]|2020-04-22 18:06:06|
|      1.0|     10|    Bob|    true|         [1, 2, 3]|           [k1 -> 1]|[1, 2, 3]|2020-04-22 18:06:07|
|      1.0|     10|Charlie|    true|      [1, 2, 3, 4]|  [k1 -> 1, k2 -> 2]|[1, 2, 3]|2020-04-22 18:06:08|
|      1.0|     10|    Don|   false|         [1, 2, 3]|  [k1 -> 1, k2 -> 2]|[1, 2, 3]|2020-04-22 18:06:09|
|      1.0|     10|     Ex|    true|[1, 2, 3, 4, 5, 6]|[k3 -> 3, k1 -> 1...|[1, 2, 3]|2020-04-22 18:06:10|
+---------+-------+-------+--------+------------------+--------------------+---------+-------------------+

Extract specific columns by converting the dataframes to an RDD. Result is an RDD

In [57]:
complex_data_df_names.rdd.map(lambda x: (x.col_str, x.col_dict)).collect()

[('Alice', {'k1': 0}),
 ('Bob', {'k1': 1}),
 ('Charlie', {'k1': 1, 'k2': 2}),
 ('Don', {'k1': 1, 'k2': 2}),
 ('Ex', {'k3': 3, 'k1': 1, 'k2': 2})]

RDD can be converted to df using tdDF() and the dataframe can be converted to rdd using .rdd attribute

.select() can be used diretly on the dataframes, but the result is a dataframe

In [58]:
complex_data_df_names.select('col_str', 'col_list', 'col_dict').show()

+-------+------------------+--------------------+
|col_str|          col_list|            col_dict|
+-------+------------------+--------------------+
|  Alice|         [1, 2, 3]|           [k1 -> 0]|
|    Bob|         [1, 2, 3]|           [k1 -> 1]|
|Charlie|      [1, 2, 3, 4]|  [k1 -> 1, k2 -> 2]|
|    Don|         [1, 2, 3]|  [k1 -> 1, k2 -> 2]|
|     Ex|[1, 2, 3, 4, 5, 6]|[k3 -> 3, k1 -> 1...|
+-------+------------------+--------------------+

### Let's extract col_str and append "Boo" to it

In [60]:
complex_data_df_names.rdd.map(lambda x: (x.col_str + "Boo")).collect()

['AliceBoo', 'BobBoo', 'CharlieBoo', 'DonBoo', 'ExBoo']

In [62]:
col_sum = complex_data_df_names.select('col_int', 'col_float').withColumn("col_sum", complex_data_df_names.col_int + complex_data_df_names.col_float).show()

+-------+---------+-------+
|col_int|col_float|col_sum|
+-------+---------+-------+
|     10|      1.0|   11.0|
|     10|      1.0|   11.0|
|     10|      1.0|   11.0|
|     10|      1.0|   11.0|
|     10|      1.0|   11.0|
+-------+---------+-------+

In [65]:
complex_data_df_names.withColumnRenamed("col_dict", "col_map").show()

+---------+-------+-------+--------+------------------+--------------------+---------+-------------------+
|col_float|col_int|col_str|col_bool|          col_list|             col_map|  col_row|           col_date|
+---------+-------+-------+--------+------------------+--------------------+---------+-------------------+
|      1.0|     10|  Alice|    true|         [1, 2, 3]|           [k1 -> 0]|[1, 2, 3]|2020-04-22 18:06:06|
|      1.0|     10|    Bob|    true|         [1, 2, 3]|           [k1 -> 1]|[1, 2, 3]|2020-04-22 18:06:07|
|      1.0|     10|Charlie|    true|      [1, 2, 3, 4]|  [k1 -> 1, k2 -> 2]|[1, 2, 3]|2020-04-22 18:06:08|
|      1.0|     10|    Don|   false|         [1, 2, 3]|  [k1 -> 1, k2 -> 2]|[1, 2, 3]|2020-04-22 18:06:09|
|      1.0|     10|     Ex|    true|[1, 2, 3, 4, 5, 6]|[k3 -> 3, k1 -> 1...|[1, 2, 3]|2020-04-22 18:06:10|
+---------+-------+-------+--------+------------------+--------------------+---------+-------------------+

In [66]:
complex_data_df_names.select(complex_data_df_names.col_str.alias("Name")).show()

+-------+
|   Name|
+-------+
|  Alice|
|    Bob|
|Charlie|
|    Don|
|     Ex|
+-------+

In [67]:
import pandas

In [68]:
df_pandas = complex_data_df_names.toPandas()

In [69]:
df_pandas

,col_float,col_int,col_str,col_bool,col_list,col_dict,col_row,col_date
0,1.0,10,Alice,True,"[1, 2, 3]",{'k1': 0},"(1, 2, 3)",2020-04-22 18:06:06
1,1.0,10,Bob,True,"[1, 2, 3]",{'k1': 1},"(1, 2, 3)",2020-04-22 18:06:07
2,1.0,10,Charlie,True,"[1, 2, 3, 4]","{'k1': 1, 'k2': 2}","(1, 2, 3)",2020-04-22 18:06:08
3,1.0,10,Don,False,"[1, 2, 3]","{'k1': 1, 'k2': 2}","(1, 2, 3)",2020-04-22 18:06:09
4,1.0,10,Ex,True,"[1, 2, 3, 4, 5, 6]","{'k3': 3, 'k1': 1, 'k2': 2}","(1, 2, 3)",2020-04-22 18:06:10

In [70]:
df_spark = sqlContext.createDataFrame(df_pandas).show()

+---------+-------+-------+--------+------------------+--------------------+---------+-------------------+
|col_float|col_int|col_str|col_bool|          col_list|            col_dict|  col_row|           col_date|
+---------+-------+-------+--------+------------------+--------------------+---------+-------------------+
|      1.0|     10|  Alice|    true|         [1, 2, 3]|           [k1 -> 0]|[1, 2, 3]|2020-04-22 18:06:06|
|      1.0|     10|    Bob|    true|         [1, 2, 3]|           [k1 -> 1]|[1, 2, 3]|2020-04-22 18:06:07|
|      1.0|     10|Charlie|    true|      [1, 2, 3, 4]|  [k1 -> 1, k2 -> 2]|[1, 2, 3]|2020-04-22 18:06:08|
|      1.0|     10|    Don|   false|         [1, 2, 3]|  [k1 -> 1, k2 -> 2]|[1, 2, 3]|2020-04-22 18:06:09|
|      1.0|     10|     Ex|    true|[1, 2, 3, 4, 5, 6]|[k3 -> 3, k1 -> 1...|[1, 2, 3]|2020-04-22 18:06:10|
+---------+-------+-------+--------+------------------+--------------------+---------+-------------------+