In [1]:
sc

In [2]:
from pyspark.sql.types import Row
from datetime import datetime

In [3]:
simple_data = sc.parallelize([1, "Alice", 50])
simple_data

ParallelCollectionRDD[0] at parallelize at PythonRDD.scala:195

In [4]:
simple_data.count()

3

In [5]:
simple_data.first()

1

In [6]:
simple_data.take(2)

[1, 'Alice']

In [7]:
simple_data.collect()

[1, 'Alice', 50]

In [8]:
# converting RDD to DataFrame

In [9]:
df = simple_data.toDF()

TypeError: Can not infer schema for type: <class 'int'>

In [10]:
# Let's change

records = sc.parallelize([[1, "Alice", 20], [2, "Bob", 50]])

In [11]:
records.collect()

[[1, 'Alice', 20], [2, 'Bob', 50]]

In [12]:
df2 = records.toDF()

In [13]:
df2

DataFrame[_1: bigint, _2: string, _3: bigint]

In [14]:
df2.show()

+---+-----+---+
| _1|   _2| _3|
+---+-----+---+
|  1|Alice| 20|
|  2|  Bob| 50|
+---+-----+---+

In [15]:
data = sc.parallelize([Row(id = 1, name="Alice", score=50)])

In [16]:
df3 = data.toDF()

In [17]:
df3.show()

+---+-----+-----+
| id| name|score|
+---+-----+-----+
|  1|Alice|   50|
+---+-----+-----+

### So far we have seen Spark context (SC)
Now we will make use SQLContext inorder to run SQL queries on our data

In [18]:
sqlcontext = SQLContext(sc)

In [19]:
sqlcontext

In [20]:
df = sqlcontext.range(5)

In [21]:
df

DataFrame[id: bigint]

In [22]:
df.show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
+---+

In [23]:
df.count()

5

In [24]:
data = [('Alice', 50), ('Bob', 80), ('Charlee', 75)]

In [27]:
sq = sqlcontext.createDataFrame(data, ['Name', 'Score']).show()

+-------+-----+
|   Name|Score|
+-------+-----+
|  Alice|   50|
|    Bob|   80|
|Charlee|   75|
+-------+-----+