In [1]:
import tensorflow as tf
import pandas as pd
import numpy as np

Numpy

In [2]:
DATA_URL="https://storage.googleapis.com/tensorflow/tf-keras-datasets/mnist.npz"

In [3]:
path = tf.keras.utils.get_file("mnist.npz", DATA_URL)

In [6]:
with np.load(path) as data:
    train_examples = data['x_train']
    train_labels = data['y_train']
    test_examples=data['x_test']
    test_labels=data['y_test']

In [8]:
train_dataset = tf.data.Dataset.from_tensor_slices((train_examples, train_labels))

In [9]:
test_dataset = tf.data.Dataset.from_tensor_slices((test_examples, test_labels))

In [10]:
type(train_dataset)

tensorflow.python.data.ops.dataset_ops.TensorSliceDataset

In [12]:
# for val in train_dataset.take(1):
#     print(val)

Pandas

In [13]:
csv_file = tf.keras.utils.get_file("heart.csv", 'https://storage.googleapis.com/applied-dl/heart.csv')

Downloading data from https://storage.googleapis.com/applied-dl/heart.csv
16384/13273 [=====================================] - 0s 1us/step

In [14]:
df = pd.read_csv(csv_file)

In [16]:
df.shape

(303, 14)

In [17]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,1,145,233,1,2,150,0,2.3,3,0,fixed,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3,normal,1
2,67,1,4,120,229,0,2,129,1,2.6,2,2,reversible,0
3,37,1,3,130,250,0,0,187,0,3.5,3,0,normal,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0,normal,0

In [20]:
df.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal         object
target        int64
dtype: object

In [21]:
df['thal']= pd.Categorical(df['thal'])
df['thal'] = df['thal'].cat.codes

In [23]:
target = df.pop('target')

In [25]:
dataset = tf.data.Dataset.from_tensor_slices((df.values, target.values))